*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.navbar a{
    font-size: 18px;
    color: rgb(0, 0, 0);
    float: left;
    text-decoration: none;
    font-weight: bold;
    margin-left:  120px;
    padding-top: 30px;
}
.first{
    background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg);
    width: 100%;
    padding: 15rem;
    background-size: 100%;
    background-position: center;
    
}
.item{
    font-weight: bold;
    float: right;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 24px 16px;
    list-style-type: none;
    cursor: pointer;
    padding-top: 40px;
    
}
.collapas{
    
    margin-right: 120px;
}
.first{
    text-align: center;
}
.first h3{
    
    float: none;
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    
}
.first span{
    font-size: 24px;
    color: rgb(0, 0, 0);
   
}
.second{
    width: 50%;
    margin-left: 25%;
    padding-top: 50px;

    
}
.second h2{
    font-size: 2.5rem;
    font-weight: 800;
}.second h3{
    font-size: 28px;
    font-weight: lighter;
}
 p{
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
    padding-bottom: 2rem;
}

.finish{
    padding-top: 50px;
    text-align: center;
}
.second a:hover{
    color: #007189;
}
.second a:hover .test{
    color: #007189;
}
.Older{
    background-color: #007189;
    font-size: 24px;
    color: #fff;
    padding: 25px 36px;
    width: 14%;
    margin-left: 61%;
    padding-top: 17px;
    margin-top: 20px;
    
}
.posts{
    color: #fff;
}



